{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"printWidth": 100,
	"endOfLine": "auto",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"vueIndentScriptAndStyle": true
}
