.wrapper {
	margin: 0 auto;

	&.w1200 {
		max-width: 1200px;
	}
}

.shadower {
	box-shadow: 0 4px 32px #1314161f !important;
	-webkit-box-shadow: 0 4px 32px #1314161f !important;
	-moz-box-shadow: 0 4px 32px #1314161f !important;
}

.opacity {
	opacity: 0.65;
}

.q-card {
	border-radius: 8px;
}

.q-btn {
	.q-icon {
		font-size: 20px !important;
	}
}

.q-chip .q-icon {
	font-size: 16px !important;
	margin-right: 8px;
	margin-left: 0px;
}

.q-field .q-icon {
	font-size: 16px !important;
}
