.wrapper {
	margin: 0 auto;

	&.w1200 {
		max-width: 1200px;
	}
}

.shadower {
	box-shadow: 0 4px 32px #1314161f;
	-webkit-box-shadow: 0 4px 32px #1314161f;
	-moz-box-shadow: 0 4px 32px #1314161f;
}

.q-card {
	border-radius: 8px;
}
