.wrapper {
	margin: 0 auto;

	&.w1200 {
		max-width: 1200px;
	}
}

.shadower {
	box-shadow: 0 4px 32px #1314161f;
}

// .q-field__native {
// 	padding: 0;
// }

// .q-field__label {
// 	top: 10px;
// }

// .q-field__control {
// 	display: flex;
// 	align-items: center;
// 	height: 40px;
// 	font-size: 16px;
// 	padding: 8px 0;
// }
