:root {
	--h1-size: 2rem;
	--h1-line-height: 4rem;
	--h1-letter-spacing: -0.01562em;
	--h1-font-weight: 400;

	--h2-size: 1.7rem;
	--h2-line-height: 3rem;
	--h2-letter-spacing: -0.00833em;
	--h2-font-weight: 400;

	--h3-size: 1.4rem;
	--h3-line-height: 2rem;
	--h3-letter-spacing: -0.00533em;
	--h3-font-weight: 400;

	--h4-size: 1.2rem;
	--h4-line-height: 1.5rem;
	--h4-letter-spacing: -0.00333em;
	--h4-font-weight: 400;
}
// $typography-font-family: 'YourFont', sans-serif !default;

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: 'inter', sans-serif;
	margin: 0;
}

h1 {
	font-size: var(--h1-size);
	line-height: var(--h1-line-height);
	letter-spacing: var(--h1-letter-spacing);
	font-weight: var(--h1-font-weight);
}

// $h2: (
// 	size: 1.7rem,
// 	line-height: 3rem,
// 	letter-spacing: -0.00833em,
// 	weight: 400,
// ) !default;

// h2 {
// 	font-size: var(--h2-size);
// 	line-height: var(--h2-line-height);
// 	letter-spacing: var(--h2-letter-spacing);
// 	font-weight: var(--h2-font-weight);
// }

h3 {
	font-size: var(--h3-size);
	line-height: var(--h3-line-height);
	letter-spacing: var(--h3-letter-spacing);
	font-weight: var(--h3-font-weight);
}

h4 {
	font-size: var(--h4-size);
	line-height: var(--h4-line-height);
	letter-spacing: var(--h4-letter-spacing);
	font-weight: var(--h4-font-weight);
}
